.settings {
    z-index: 100000;
    position: absolute;
    background: #dadadada;
    padding: 7px;
    border-radius: 12px;
    margin: 4px;
}

.settings:hover {
    opacity: 1;
}

#bigText {
    /* display: flex; */
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    /* overflow: hidden; */
    font-family: sans-serif;
    }
#text{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    
}

#hide {
    padding: 61px;
    padding-bottom: 0;
    padding-top: 0;
}

body {
    display: block;
    margin: 0;
    overflow: hidden;
}